/* body {
    background-color: #f0f1f3;
}

.exam {
    padding: 15px 15px;
}

.exam h1 {
    color: #000;
} */

body {
    background-color: #f0f1f3;
}

.exam {
    padding: 15px 15px;
}

.exam h1 {
    color: #000;
}

.exam .exam_location {
    margin: 15px 0px;
    display: flex;
    align-items: center;
    color: rgb(90, 90, 90);
}

.exam .exam_location .fa-chevron-right {
    margin: 0px 10px;
}

.exam .exam_location .all_exam_para {
    color: yellowgreen;
}

.exam .add_new_exam {
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

.exam .add_new_exam h1 {
    margin-bottom: 25px;
    font-size: 25px;
}

.exam .add_new_exam .row1 {
    display: flex;
    justify-content: space-between;
}

.exam .add_new_exam .row1 .row1_inner1,
.row1_inner2 {
    width: 49%;
}

.exam .add_new_exam .row1 .row1_inner1 label {
    color: #386ad0;
    font-size: 17px;
    font-weight: 550;
}

.exam .add_new_exam .row1 .row1_inner2 label {
    color: #386ad0;
    font-size: 17px;
    font-weight: 550;
}

.exam .add_new_exam .row1 .row1_inner1 input {
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}

.exam .add_new_exam .row1 .row1_inner2 select {
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}


/* for row two============================= */

.exam .add_new_exam .row2 {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.exam .add_new_exam .row2 .row2_inner1 label {
    color: #386ad0;
    font-size: 17px;
    font-weight: 550;
}

.exam .add_new_exam .row2 .row2_inner2 label {
    color: #386ad0;
    font-size: 17px;
    font-weight: 550;
}

.exam .add_new_exam .row2 .row2_inner1,
.row2_inner2 {
    width: 49%;
}

.exam .add_new_exam .row2 .row2_inner1 input {
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}

.exam .add_new_exam .row2 .row2_inner1 select {
    width: 100%;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    border: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}

.exam .add_new_exam .row2 .row2_inner2 select {
    width: 100%;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}


/* for row two============================= */

.exam .add_new_exam .row3 {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.exam .add_new_exam .row3 .row3_inner1 label {
    color: #386ad0;
    font-size: 17px;
    font-weight: 550;
}

.exam .add_new_exam .row3 .row3_inner2 label {
    color: #386ad0;
    font-size: 17px;
    font-weight: 550;
}

.exam .add_new_exam .row3 .row3_inner1,
.row3_inner2 {
    width: 49%;
}

.exam .add_new_exam .row3 .row3_inner1 input {
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}

.exam .add_new_exam .row3 .row3_inner2 input {
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}
/* row 4 */
.exam .add_new_exam .row4 {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.exam .add_new_exam .row4 .row4_inner1 label {
    color: #386ad0;
    font-size: 17px;
    font-weight: 550;
}

.exam .add_new_exam .row4 .row4_inner2 label {
    color: #386ad0;
    font-size: 17px;
    font-weight: 550;
}

.exam .add_new_exam .row4 .row4_inner1,
.row4_inner2 {
    width: 49%;
}

.exam .add_new_exam .row4 .row4_inner1 input {
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}

.exam .add_new_exam .row4 .row4_inner2 input {
    width: 100%;
    outline: none;
    box-shadow: none;
    border: none;
    background-color: #f0f1f3;
    margin: 10px 0px 15px 0px;
    padding: 15px;
    border: solid 1px black;
}


/* .exam .add_new_exam .row2 .row2_inner1 select {
      width: 100%;
      outline: none;
      cursor: pointer;
      box-shadow: none;
      border: none;
      background-color: #f0f1f3;
      margin: 10px 0px 15px 0px;
      padding: 15px;
    }
    .exam .add_new_exam .row2 .row2_inner2 select {
      width: 100%;
      border: none;
      cursor: pointer;
      outline: none;
      box-shadow: none;
      background-color: #f0f1f3;
      margin: 10px 0px 15px 0px;
      padding: 15px;
    } */

.exam .add_new_exam .e_save_btn {
    padding: 10px 25px;
    width: 200px;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    font-weight: 550;
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
}

.exam .add_new_exam .e_save_btn:hover {
    background-color: transparent;
    color: #000;
}


/* all exam schedule start here ========================= */

.exam .all_exam_schedule {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 35px 0px;
}

.exam .all_exam_schedule h1 {
    margin-bottom: 25px;
    font-size: 25px;
}

.exam .all_exam_schedule .header_exam_schedule_table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
    font-size: 15px;
}


/* Table hiển thị & search  */

.exam .all_exam_schedule .exam_tabcontent {
    display: block;
    padding: 6px 12px;
    border-top: none;
    margin-left: 120px;
}

.exam .all_exam_schedule #see_exam {
    margin: 10px 5px;
}

.exam .all_exam_schedule #see_exam .exam_search .search_input {
    padding: 10px 5px;
    width: 250px;
    margin: 10px 0px; 
    border: 1px solid yellowgreen;
    margin-bottom: 30px;
    border: solid 1px black;
}

.exam .all_exam_schedule #see_exam .exam_search .search_input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.exam .all_exam_schedule #see_exam table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    margin: 0px auto;
}

.exam .all_exam_schedule #see_exam th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: black;
    color: #fff;
}

.exam .all_exam_schedule #see_exam td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #000;
}

.exam .all_exam_schedule #see_exam tr:nth-child(even) {
    background-color: #e6e3e3;
    color: #000;
}
