* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    background-color: #E8F3F3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.body .title {
    padding-bottom: 50px;
    position: absolute;
    top: 20px;
}

.body .title h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
    padding-top: 10px;
}

.body .container {
    width: 80%;
    height: 70%;
}

.body .container .info {
    float: left;
    width: 65%;
    height: 100%;
    border-radius: 10px;
}

.body .container .info .imgInfo {
    float: left;
    width: 30%;
    height: 100%;
    background-color: #cec8c8;
    border-radius: 10px 0px 0px 10px;
}

.body .container .info .imgInfo img {
    margin-top: 80px;
    padding: 0px 10px;
    width: auto;
    height: 200px;
}

.body .container .info .main_info {
    float: right;
    width: 70%;
    background-color: white;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
}

.body .container .info .main_info .leftInfo {
    float: left;
    width: 50%;
    margin: auto;
}

.body .container .info .main_info .leftInfo label {
    font-size: 15px;
}

.body .container .info .main_info .leftInfo h3 {
    font-size: 15px;
}

.body .container .info .main_info .rightInfo {
    float: right;
    width: 50%;
}

.body .container .info .main_info .rightInfo label {
    font-size: 15px;
}

.body .container .info .main_info .rightInfo h3 {
    font-size: 15px;
}

.body .container .score {
    float: right;
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
}

.body .container .score .score-detail {
    margin: 0px 0px 500px 0px;
}

.body .container .score label {
    font-size: 15px;
}

.body .container .score h3 {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.body .container .score progress {
    counter-reset: step;
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 80%;
    height: 2%;
    margin: 0px auto;
}