* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.teacher_section .teacher_tab {
    padding: 0px 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid #fff;
}

.teacher_section .teacher_tab h1 {
    color: #000;
}

.teacher_section .teacher_tab .teacher_tab_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.teacher_section .teacher_tab .teacher_tab_inner .t_btn_tablinks {
    padding: 10px;
    margin: 10px 0px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
}

.teacher_section .teacher_tab .teacher_tab_inner .t_btn_tablinks:hover {
    background-color: yellow;
}

.teacher_section .teacher_tab .teacher_tab_inner .t_btn_tablinks.active_t {
    background-color: yellow;
}

.teacher_section .teacher_tabcontent_data {
    padding: 40px 15px;
}

.teacher_section .teacher_tabcontent_data .teacher_search {
    margin: 15px 0px;
}

.teacher_section .teacher_tabcontent_data .teacher_search input {
    width: 250px;
    margin: 0px 15px;
    padding: 10px 5px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data .teacher_search input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.teacher_section .teacher_tabcontent_data .row .card {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    margin: 1% 1%;
    width: 18%;
    border: 1px solid #c7c4c4;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}

.teacher_section .teacher_tabcontent_data .row .card img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
}

.teacher_section .teacher_tabcontent_data .row .card .s_card_footer h2 {
    font-size: 15px;
    padding: 7px 10px;
    color: #000;
}

.teacher_section .teacher_tabcontent_data .row .card .s_card_footer .teacher_profile_action {
    padding: 7px 10px 15px 7px;
}

.teacher_section .teacher_tabcontent_data .row .card .s_card_footer .teacher_profile_action .s_btn_view {
    padding: 5px 22px;
    background-color: #0606fc;
    color: #fff;
    font-size: 15px;
    font-weight: 550px;
    border: 1px solid #0606fc;
    cursor: pointer;
}

.teacher_section .teacher_tabcontent_data .row .card .s_card_footer .teacher_profile_action .s_btn_del {
    padding: 5px 15px;
    cursor: pointer;
}

.teacher_section .teacher_tabcontent_data #add_teacher {
    width: 80%;
    border: 1px solid yellowgreen;
    margin: auto;
    background-color: #fff;
    border-radius: 15px;
}

.teacher_section .teacher_tabcontent_data #add_teacher form {
    padding: 15px 15px;
}

.teacher_section .teacher_tabcontent_data #add_teacher form h2 {
    font-size: 17px;
    text-align: center;
    margin: 30px 0px;
    font-weight: 600;
    color: #000;
}

.teacher_section .teacher_tabcontent_data #add_teacher form label {
    color: #000;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .first_last_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .first_last_name .f_left {
    width: 49%;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .first_last_name .f_left input {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .first_last_name .f_left input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .first_last_name .l_right {
    width: 49%;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .first_last_name .l_right input {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .first_last_name .l_right input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #s_father {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #s_father:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_enroll_year {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_enroll_year:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .t_class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .t_class .t_class_left {
    width: 49%;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .t_class .t_class_left input {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .t_class .t_class_left input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .t_class .t_class_right {
    width: 49%;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .t_class .t_class_right input {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form .t_class .t_class_right input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_gender {
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    cursor: pointer;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_gender:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_phone {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_phone:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_email {
    width: 100%;
    padding: 7px 5px;
    margin: 5px 0px 15px 0px;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_email:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_teacher_btn {
    padding: 7px 25px;
    margin: 25px 0px;
    cursor: pointer;
    color: yellowgreen;
    border: 1px solid yellowgreen;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_teacher_btn:hover {
    background: transparent;
    border: 1px solid #000;
    color: #000;
}

.teacher_section .teacher_tabcontent_data #add_teacher form #t_teacher_btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*# sourceMappingURL=teachers.css.map */

/* .teacher_tabcontent_data .teacher_tabcontent .teacher_details_modal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 400;
    overflow-y: scroll;
} */

/* .teacher_tabcontent_data .teacher_tabcontent .teacher_details_modal .teacher_details_modal_body {
    position: relative;
    width: 70%;
    z-index: 301;
    margin: 70px auto;
    background: #fff;
} */

/* .teacher_tabcontent_data .teacher_tabcontent .teacher_details_modal .teacher_details_modal_body #hide_teacher_details_modal {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: red;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: block;
} */


/* stdent details section start here -=================== */

.teacher_details_modal_body_inner {
    padding: 15px;
    background-color: #f0f1f3;
}

.teacher_details_modal_body_inner .row {
    display: flex;
    background-color: #f0f1f3;
}

.teacher_details_modal_body_inner .row .teacher_details_left {
    width: 30%;
}

.teacher_details_modal_body_inner .row .teacher_details_left img {
    display: block;
    margin: 25px auto;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.teacher_details_modal_body_inner .row .teacher_details_left h1 {
    text-align: center;
    color: #000;
}

.teacher_details_modal_body_inner .row .teacher_details_right {
    width: 70%;
}

.teacher_details_modal_body_inner .row .teacher_details_right h3 {
    width: 300px;
    margin: 25px 10px
}

.teacher_details_modal_body_inner .row .teacher_details_right .first_detail,
.second_detail,
.third_detail,
.fourth_detail,
.fifth_detail,
.sixth_detail {
    display: flex;
    align-items: center;
}

.teacher_details_modal_body_inner .row .teacher_details_right .first_detail h3,
.second_detail h3,
.third_detail h3,
.fourth_detail h3,
.fifth_detail h3,
.sixth_detail h3 {
    color: #000;
    margin: 25px 0px;
}

.teacher_details_modal_body_inner .row .teacher_details_right .first_detail p,
.second_detail p,
.third_detail p,
.fourth_detail p,
.fifth_detail p,
.sixth_detail p {
    color: #000;
}